page-user {
  .user{
    //background-image: url(/img/back_bcn.jpg);
    background-size: cover;
  }

  .logo{
    margin: auto;
    display: table;
    width: 50%;
    max-width: 320px;
    min-width: 190px;
  }

  form {
    margin-bottom: 32px;
    background-color: rgba(255,255,255,0.8);
    button {
      margin-top: 20px;
    }
  }

  .button-md-danger {
    color: #fff;
    background-color: #c82c2c;
    height: 3.6rem;
    margin: 0;
    border-radius: 0;
  }

  .item-md{
    background-color: transparent;
  }

  .small{
    font-size: 18px;
  }

.item-block {
  line-height: 1.8rem;
}

}