page-signup {

  .signup{
    background-image: url(../img/back_bcn.jpg);
    background-size: cover;
    background-color:rgba(128, 128, 128, 0.33);
  }

  form {
    margin-bottom: 32px;
    background-color: rgba(255,255,255,1);
    button {
      margin-top: 20px;
    }
  }

}
